<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title> Register </title>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="static/css/userRegister.css" th:href="@{/css/userRegister.css}">
</head>
<body>
	<script type="text/javascript">
		function verificarPassword() {
			pass1 = document.getElementById("pass1");
			pass2 = document.getElementById("pass2");
			if (pass1.value != pass2.value){
				$(".alert").show()
				return false;
			} else {
				 $(".alert").hide()
				return true;
			}
		}
	</script>
	<div class="container">
	<div class="d-flex justify-content-center h-100" style="position: relative;">
		<div id="error" class="alert alert-danger collapse alert-dismissible" role="alert" style="position: absolute;">
	    	Passwords don't match, try again !
		</div>
		<div class="card">
			<div class="card-header">
				<h4>Sing Up!</h4>
			</div>
			<div class="card-body">
				<form action="#" th:action="@{/userRegister}" th:object="${User}" method="post" id="userFrm" onsubmit="return verificarPassword();">

					<div class="input-group form-group">
						<img class="avatar" src="static/imagenes/user.png" th:src="@{/imagenes/user.png}" >
					</div>

					<div class="input-group form-group">	
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Nick Name" th:field="*{userName}" required>
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Name" th:field="*{name}" required>
					</div>

					<div class="input-group form-group">	
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="email" class="form-control" placeholder="e-Mail" th:field="*{mail}" required>
					</div>

					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Your Lastname"  th:field="*{lastName}" required>
					</div>
					
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Your Address" th:field="*{address}" required>
					</div>

					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input id="pass1" minlength="5" type="password" class="form-control" placeholder="Password" th:field="*{password}" required>
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input id="pass2" minlength="5" type="password" class="form-control" placeholder="Re Password" required>
					</div>

					<div class="form-group">
						<input type="submit" value="Register" class="btn float-right reg_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center powered">
					developed by Sebastian Liotta
				</div>
			</div>
		</div>
	</div>
</div>


</body>
</html>