
html,body{
	background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	font-family: 'Numans', sans-serif;
}

.mainContainer{
	width: 1300px;
	height: 800px;
	margin-top: auto;
	margin-bottom: auto;
	background-color: rgba(0,0,0,0.5) !important;
}

.text-container{
	overflow-y: scroll;
	height: 625px;
}

h1, h2, h3, h4, h5, li, p{
	color: white;
}

